SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTask_170518](
	[StaffID] [float] NULL,
	[Receiver] [nvarchar](255) NULL,
	[Position] [nvarchar](255) NULL,
	[Salary] [float] NULL,
	[BirthDay] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[TestTask_170518] ([StaffID], [Receiver], [Position], [Salary], [BirthDay]) VALUES (1, N'БАННИЙ АНАТОЛІЙ ВАЛЕРІЙОВИЧ', N'Менеджер по роботі з клієнтами', 8500, N'03.02.1990')
INSERT [dbo].[TestTask_170518] ([StaffID], [Receiver], [Position], [Salary], [BirthDay]) VALUES (2, N'ВІТЮК АННА ЄВГЕНІВНА', N'Програміст 1С', 18000, N'28.10.1980')
INSERT [dbo].[TestTask_170518] ([StaffID], [Receiver], [Position], [Salary], [BirthDay]) VALUES (3, N'ГОЛОВАЩЕНКО ВАЛЕНТИНА ВАСИЛІВНА', N'Бухгалтер', 12000, N'19.09.1987')
EXEC sys.sp_addextendedproperty @name=N'MS_Orientation', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TestTask_170518'
GO
